* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

body {
  background-color: #3b3943;
  display: flex;
  flex-direction: column; /* Modification pour les petits écrans */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color: #ffffff;
  font-size: 2em; /* Réduction de la taille du texte pour les petits écrans */
  margin-bottom: 20px;
  text-align: center;
}

.container {
  width: 90%; /* Prend presque toute la largeur de l'écran sur mobile */
  max-width: 500px; /* Limite la largeur sur les grands écrans */
  text-align: center;
}

input {
  width: 80%; /* Largeur plus grande pour les téléphones */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input:hover {
  border-color: #6c63ff;
  outline: none;
  box-shadow: 0 0 10px rgba(108, 99, 255, 0.5);
}

input[type="submit"] {
  background-color: #6c63ff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #5753d1;
}

p,
label,
a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a {
  transition: color 0.3s ease;
}

a:hover {
  color: #6c63ff;
  text-decoration: underline;
}

/* Media Query pour les écrans de moins de 768px (tablettes et téléphones) */
@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  h1 {
    font-size: 1.8em; /* Réduit encore la taille pour les petits écrans */
  }

  input {
    width: 90%; /* Agrandir la largeur des inputs pour qu'ils soient bien visibles */
  }
}
